.footer{
  height: 150px;
  width: 100vw;
  background-color: var(--darkGrey);
  color: var(--coolGrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  position: relative;
}

.footerLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.footerLeft__text{
  margin-left: 100px;
  font-weight: 600;
  font-size: 20px;
  color: var(--brownishGrey)
}

.footerLeft__line{
  margin: 0 15px;
  font-weight: 600;
  font-size: 20px;
  color: var(--brownishGrey)
}

.buttonSocial{
  border: none;
  background-color: transparent;
  color: var(--coolGrey);
  font-weight: 400;
  font-size: 20px;
}

.buttonSocial:hover{
  color: var(--brownishGrey);
  cursor: pointer;
}

.buttonSocial:focus {outline:0;}

.footerRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 100px;
  font-weight: 600;
  font-size: 20px;
  color: var(--brownishGrey)
}
