.footer{
  height: 100px;
  width: 100%;
  background-color: var(--darkGrey);
  color: var(--coolGrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.footerLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.footerLeft__text{
  margin-left: 80px;
  font-weight: 600;
  font-size: 18px;
  color: var(--brownishGrey);

}

.footerLeft__line{
  margin: 0 3px 0 15px;
  font-weight: 600;
  font-size: 18px;
  color: var(--brownishGrey)
}

.buttonSocial{
  border: none;
  background-color: transparent;
  color: var(--coolGrey);
  font-weight: 400;
  font-size: 18px;
  padding: 0 12px;
  font-family: 'Open Sans', sans-serif;
}

.buttonSocial:hover{
  color: var(--brownishGrey);
  cursor: pointer;
}

.buttonSocial:focus {outline:0;}

.footerRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 80px;
  font-weight: 600;
  font-size: 18px;
  color: var(--brownishGrey)
}
