.list__header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-image: url(../../assets/moon.png); /*no-repeat center center fixed;*/
  background-repeat: no-repeat;
  background-position-y: 23%;
  background-position-x: 50%;
  background-attachment: fixed;
  background-size:50%;
  background-color: var(--almostBlack);
  height: 500px;
  padding-top: 90px;
}

.list__header__img{
    width:auto; /* you can use % */
    height: 87px;
    transform: translateX(40px);
}

.list__header__text{
  font-size: 29px;
  letter-spacing: 22px;
  font-weight: 400;
  color: var(--coolGrey);
  margin-top: 23px;
}
