.listBrick{
  color: white;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.listBrick--left{
  width: 86%;
}

.listBrick--right{
  width: 80%;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-end;
}

.listBrick:hover{
  cursor: pointer;
}

.listBrick__img{
  position: absolute;
  height: 11px; /* you can use % */
  width: auto;
  top: 30px;
}

.listBrick__img--left{
  left: 34.5vw;
  transform: rotate(180deg);
}

.listBrick__img--right{
  left: -4.9vw;
}

.listBrick__arrowRectangle {
  height: 2px;
  background-color: var(--desert);
  position: absolute;
  top: 35px;

}

.listBrick__arrowRectangle--left {
  width: 107%;
}

.listBrick__arrowRectangle--right {
  width: 115%;
}

.listBrick__circle {
  height: 6px;
  width: 6px;
  background-color: var(--coolGrey);
  border-radius: 50%;
  position: absolute;
  top: 33px;
  z-index: 1000;
}

.listBrick__circle--left {
  left: 115.8%;/*37.55vw;*/
}

.listBrick__circle--right {
  left: -25.5%;/*-7.65vw*/
}

.listBrick__date{
  display: flex;
  flex-direction: row;
  width: 100%;
  letter-spacing: 9px;
  font-size: 14px;
  font-weight: 00;
  max-height: 20px;
  overflow: hidden; /*dlatego content sie chowa*/
  margin-bottom: 10px;
  text-transform: uppercase;
}

.listBrick__date--left{
  justify-content: flex-start;
}

.listBrick__date--right{
  justify-content: flex-end;
}

.listBrick__data{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 90%;
  height: 20px;
}

.listBrick__data--left{
  justify-content: flex-start;
}

.listBrick__data--right{
  justify-content: flex-end;
}


.listBrick__data-rocket{
  color: var(--coolGrey);
  margin-right: 5px;
}

.listBrick__data-launchSite{
  color: var(--coolGrey);
  margin-right: 5px;
  white-space: nowrap;
}

.listBrick__data-rocket2{
  white-space: nowrap;
}

.listBrick__data-launchSite2{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listBrick__data-line{
  color: var(--coolGrey);
  margin: 0 10px;
}
