.listBrickLeft{
  color: white;
  position: relative;
  width: 86%;
  margin-bottom: 10px;
  padding-left: 5vw;
}

.listBrickLeft:hover{
  cursor: pointer;
}

.listBrickLeft__backButton__img{
  position: absolute;
  top: 25px;
  left: 34.4vw;
  height: 11px; /* you can use % */
  width: auto;
  transform: rotate(180deg);
}

.arrow__rectangle {
  height: 2px;
  width: 75%;/*476px;*/
  background-color: var(--desert);
  position: absolute;
  top: 30px;
  left: 5vw;
}

.circleLeft {
  height: 6px;
  width: 6px;
  background-color: var(--coolGrey);
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 39.89vw/*-99px;*/
}

.listBrickLeft__date{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 600;
}

.listBrickLeft__data{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 90px;
  font-size: 13px;
  text-transform: uppercase;
}

.listBrickLeft__data__rocket{
  color: var(--coolGrey);
  margin-right: 5px;
}

.listBrickLeft__data__launchSite{
  color: var(--coolGrey);
  margin-right: 5px;
}

.listBrickLeft__data__line{
  color: var(--coolGrey);
  margin: 0 10px;
}
