.listHeader{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-image: url(../../assets/moon.png); /*no-repeat center center fixed;*/
  background-repeat: no-repeat;
  background-position-y: 26%;
  background-position-x: 50%;
  background-attachment: fixed;
  background-size:60%;
  background-color: var(--almostBlack);
  height: 660px;
  padding-top: 90px;
}

.listHeader__img{
  width:auto; /* you can use % */
  height: 72px;
  transform: translateX(45px);

}

.listHeader__text{
  font-size: 24px;
  letter-spacing: 18px;
  font-weight: 400;
  color: var(--coolGrey);
  margin-top: 30px;
}
