.listBrickRight{
  color: white;
  position: relative;
  width: 86%;
  margin-bottom: 10px;
}

.listBrickRight:hover{
  cursor: pointer;
}

.listBrickRight__backButton__img{
  position: absolute;
  top: 25px;
  left: -5vw;
  height: 11px; /* you can use % */
  width: auto;
}

.arrow__rectangleRight {
  height: 2px;
  width: 120%;/*476px;*/
  background-color: var(--desert);
  position: absolute;
  top: 30px;
  left: -5vw/*-99px;*/
}

.circleRight {
  height: 6px;
  width: 6px;
  background-color: var(--coolGrey);
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: -10.20vw/*-99px;*/
}

.listBrickRight__date{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 600;
}

.listBrickRight__data{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 90px;
  font-size: 13px;
  text-transform: uppercase;
}

.listBrickRight__data__rocket{
  color: var(--coolGrey);
  margin-right: 5px;
}

.listBrickRight__data__launchSite{
  color: var(--coolGrey);
  margin-right: 5px;
}

.listBrickRight__data__line{
  color: var(--coolGrey);
  margin: 0 10px;
}
