.header{
  display: flex;
  justify-content: center;
  background-color: var(--almostBlack);
  height: 100px;
  position: relative;
  position: fixed;
  width: 100%;
}

.header__img{
    width:300px; /* you can use % */
    height: auto;
}

.backButton{
  position: absolute;
  left: 50px;
  top: 40px;
  border: none;
  background-color: transparent;
  color: var(--desert);
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 9px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.backButton:hover{
  cursor: pointer;
}

.backButton:focus {outline:0;}

.backButton__img{
  position: absolute;
  top: 4px;
  left: 7px;
  height: 11px; /* you can use % */
  width: auto;
}

.backButton__rectangle {
  height: 2px;
  width: 28px;
  background-color: var(--desert);
  position: absolute;
  top: 8px;
  left: 13px;
}

.backButton__text{
  margin-left: 45px;
  position: absolute;
  top: -1px;
  width: 150px;
}
